/* index.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #B6D0E2; /* Very Light Pink */
    color: #000000; /* Brown Text */
    display:  grid;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 80%;
    margin: 0 auto;
    text-align: center; /* Center align all text */
    background-color: #fff; /* White Foreground */
}

h1, h2 {
    color: #191970; /* Brown Titles */
    text-align: center; /* Center align titles */
}

.i1, .i2, .i3, .i4, .i5 {
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 5px;
    background-color: #fff; /* White Background for Sections */
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    text-align: center; /* Center align text in sections */
}

ul {
    list-style-type: disc;
    padding-left: 20px;
    text-align: left; /* Keep list items aligned to the left */
}

a, .btn {
    display: inline-block;
    color: #fff;
    background-color: #4682B4; /* Brown Background for Buttons */
    padding: 10px 20px;
    margin: 10px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

a:hover, .btn:hover {
    background-color: #A0522D; /* Darker Brown for Button Hover */
}

/* Additional styles for the 'Register' and 'Login' buttons */
.btn-register, .btn-login {
    background-color: #8B4513; /* Brown Background for Buttons */
    color: #fff; /* White Text for Buttons */
    border: 2px solid #fff; /* White Border for Buttons */
    padding: 10px 25px;
}

.btn-register:hover, .btn-login:hover {
    background-color: #A0522D; /* Darker Brown for Button Hover */
}

/* Styles for login form */
.form-container {
    width: 500px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.form-group {
    margin-bottom: 15px;
}

.form-control {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.btn {
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
}
