{% extends "base.html" %}

{% block content %}
    <h1>Schedule an Appointment</h1>
    <form method="POST" action="{{ url_for('appointment.create_appointment', doctor_id=doctor_id) }}">
        <input type="hidden" id="doctor_id" name="doctor_id" value="{{ doctor_id }}">
        <label for="date">Date:</label>
        <input type="date" id="date" name="date" required>
        <label for="time">Time:</label>
        <input type="time" id="time" name="time" required>
        <input type="submit" value="Schedule Appointment">
    </form>
{% endblock %}