{% extends "base.html" %}

{% block content %}
    <section>
        <h1>Welcome to Our Telemedicine Platform</h1>
        <p>We are dedicated to providing comprehensive healthcare services in a convenient and accessible manner. Our platform offers:</p>
        <ul>
            <li>Online Doctors Consultancy</li>
            <li>Medical Services</li>
            <li>Drugs Shop</li>
            <li>A unified platform for Doctors and Patients</li>
        </ul>
        <p>Whether you're seeking medical advice, need to schedule an appointment, or want to purchase over-the-counter medicines, we've got you covered. Join us today and experience healthcare at your fingertips.</p>
    </section>

    <section>
        <h2>Get Started</h2>
        ?<p>Do you want to <a href="{{ url_for('register.register_page') }}">Register</a> or <a href="{{ url_for('login.login_page') }}">Login</a>?</p>
    </section>

    <section>
        <h2>Feedback</h2>
        <p>We value your feedback. A form will be included here later for you to share your thoughts and experiences with us.</p>
    </section>

    <section>
        <h2>Contact Us</h2>
        <p>For any inquiries or support, please contact us at: [Your Contact Information]</p>
    </section>

    <section>
        <h2>About Us</h2>
        <p>[Your Website Info]</p>
    </section>
{% endblock %}
