{% extends "base.html" %}

{% block content %}
    <section class="i0">

    <section class="i1">
        <h1>Welcome to Our Telemedicine Platform</h1>
        <p>We are dedicated to providing comprehensive healthcare services in a convenient and accessible manner. Our platform offers:</p>
        <ul>
            <li>Online Doctors Consultancy</li>
            <li>Medical Services</li>
            <li>Drugs Shop</li>
            <li>A unified platform for Doctors and Patients</li>
        </ul>
        <p>Whether you're seeking medical advice, need to schedule an appointment, or want to purchase over-the-counter medicines, we've got you covered. Join us today and experience healthcare at your fingertips.</p>
    </section>

    <section class="i2">
        <h2>Get Started</h2>
        <p>Do you want to <a href="{{ url_for('register.register_page') }}">Register</a> or <a href="{{ url_for('login.login_page') }}">Login</a>?</p>
    </section>

    <section class="i3">
    <h2>Feedback</h2>
    <form method="POST">
        {{ form.hidden_tag() }}
        <p>{{ form.name.label }} {{ form.name() }}</p>
        <p>{{ form.email.label }} {{ form.email() }}</p>
        <p>{{ form.feedback.label }} {{ form.feedback() }}</p>
        <p>{{ form.submit() }}</p>
    </form>
        {% with messages = get_flashed_messages() %}
  {% if messages %}
    <H1>{{ messages[0] }}</H1>
  {% endif %}
{% endwith %}
    </section>

    <section class="i4">
        <h2>Contact Us</h2>
        <p>For any inquiries or support, please contact us at: [telemedicine@gmail.com]</p>
    </section>

    <section class="i5">
        <h2>About Us</h2>
        <p>[Your Website Info]</p>
    </section>
    {% if current_user.is_authenticated %}
        <a href="{{ url_for('login.logout') }}">Logout</a>
    {% endif %}
</section>
{% endblock %}
