{% extends "base.html" %}

{% block content %}

    <h1>Welcome to the Patient Homepage</h1>

    <h2>Doctors</h2>
    <ul>
{#        for each doctor show the Full name , Speciality , Avalability , Location   in a table format#}
        <table>
                <tr>
                    <th>Full Name</th>
                    <th>Speciality</th>
                    <th>Availability</th>
                    <th>Location</th>
                </tr>
                {% for doctor in doctors %}
                <tr>
                    <td>{{ "Dr. " + doctor.profile.first_name + " " + doctor.profile.last_name}}</td>
                    <td>{{ doctor.specialization }}</td>
                    <td>{{ doctor.availability }}</td>
                    <td>{{ doctor.location }}</td>
               <td>
    <form method="GET" action="{{ url_for('appointment.create_appointment', doctor_id=doctor.id) }}">
        <input type="hidden" name="doctor_id" value="{{ doctor.id }}">
        <input type="submit" value="Take Appointment">
    </form>
</td>

                </tr>
            </table>
        {% endfor %}


    </ul>

    <form method="GET" action="{{ url_for('appointment.appointments') }}">
        <input type="submit" value="Show all appointments">
    </form>
    <h2>Telemedicine Platform(Maisha)</h2>
{#    <p><a href="{{ }}">Click here to access the Telemedicine Platform</a></p>#}

    <h2>Appointment System(Shirsho)</h2>
{#    <p><a href="{{ }}">Click here to schedule an appointment</a></p>#}


    <h2>Prescription System(Riana)</h2>
{#    <p><a href="{{ }}">Click here to view your prescriptions</a></p>#}


{#     link to edit profile#}
    <h2>Edit Profile</h2>
    <p><a href="{{ url_for('patient.update_patient',username = user.username) }}">Click here to edit your profile</a></p>


{% endblock %}